*.a
*.lib
*.o
lib/
obj/
bin/
*.log
*.res
*.npy
CMakeCache.txt 
CMakeFiles/ 
cmake_install.cmake
Makefile
build/bin/*
build/*
!build/bin/*.sh
!build/bin
!build
src/utils/TypeFunc.cpp
src/utils/TypeFunc.cu
*.tmp
*.swp
*.test
*.data
*.pyc
*.bak
*.idea
*.DS_Store
*.so
bsim/code_gen/*
bsim/so_gen/*
bsim/*_gen/*
circle_acc_test
fc_acc_test
fc_acc_test_large
fc_acc_test2
fc_acc_test3
forward_acc_test
forward_acc_test_3500
multi_area_model
multi_area_model_0_2
multi_area_model_2_117
multi_area_model_2_117_15000
multi_area_model_2_117_20000
multi_area_model_2_117_30000
multi_area_model_20_117
nest_network
pattern_circle_iaf_mpi
pattern_circle_iaf_mpi_500
pattern_fc_iaf_mpi_100_10
pattern_network
run_all
scale_circle
scale_circle_2
scale_fc
scale_forward
standard_mpi_*
test_delay_all
test_delay_aware
test_delay_aware_bak
test_multi_delay
test_pangmeng
test_pangmeng2
test_random
time_test
tmp
weak_scaling
weight
.vscode
bak
log_data
model
tmux-mpi
